.tab-list {
    position: relative;
    padding-left: 0;
  }

  
.tab-item {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 3rem;
    min-width: 6rem;
    margin-bottom: -1px;
    padding: 0.1rem 1.5rem 0 1.5rem;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    background-color: $color-primary;
    color: $color-white;
    // z-index: 0;
    // border-radius: 40% 40% 0 0; 
    transition: all .15s ease-in-out;

    &:hover {
        background-color: darken($color-primary, 20%);
    }

    &--active{
        background-color: $color-primary-dark;
        transform: scale(1.25);
        z-index: 1;
    }
}



