
.section-about{
    background-color: $color-grey-light;
    padding: 10rem 30rem 10rem 30rem;
}

.about-heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 7rem;
    
}